<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>creyryvn@tznvy.pbz</string>
	<key>contactName</key>
	<string>Elia Schito</string>
	<key>description</key>
	<string>Elia’s bundle for Avian.</string>
	<key>name</key>
	<string>Avian Missing</string>
	<key>uuid</key>
	<string>74BB950F-06E8-4D6E-B061-1C3A0D9114B9</string>
</dict>
</plist>
